<div class="container-fluid full-img">
  <div class="row">
    <div class="col-6">
        <br><br><br><br><br><br><br>
      <div class="row justify-content-center">
        <h1 class='display-3 text-center'>Login</h1>
      </div>
      <div class="row justify-content-center">
        <%= simple_form_for :new_session, url: sessions_path, method: :post, html: {class: 'form-horizontal'} do |f| %>
        <p>Username</p>
        <%= f.input :name, label: false, input_html: {name: 'name'} %>
        <p>Password</p>
        <%= f.input :password_digest, label: false, input_html: {name: 'password'} %>
      </div>
      <div class="row justify-content-center">
        <%= f.button :submit, "Login" %>
        <% end %>
      </div>
      <br>
      <div class="row justify-content-center">
        <p class='flash-alert text-center'></p><%= flash[:alert] %></p>
        <p class='flash-notice text-center'><%= flash[:notice] %></p>
      </div>
      <div class="row justify-content-center">
        <p class='text-center'>No account? <%= link_to 'Sign up here', signup_path %></p>
      </div>
    </div>
  </div>
</div>
