<h1 class='display-3 text-center'>Edit Task List Name</h1>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <%= simple_form_for @tasklist, url: tasklist_path(@tasklist), method: :put, html: {class: 'form-horizontal'} do |f| %>
      <%= f.input :name, label: false, placeholder: "School", error: false %>
      <div class="row justify-content-center">
        <%= f.button :submit, "Update Task List" %>
        <% end %>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-outline-primary">
          <a id="axn-full"><%= link_to 'Full Task List', tasklists_path %></a>
        </button>
      </div>
      <br>
      <div class="row justify-content-center">
        <% @tasklist.errors[:name].each do |message| %>
        <%= message %></li>
        <% end %>
      </div>
    </div>
  </div>
</div>
