<div class="container-fluid">

  <div class='row text-center'>
    <div class='col-3 d-flex'>
      <%= link_to image_tag('icons/new', size: '35'), new_tasklist_path, class: 'new-icon' %>
      <%= simple_form_for :search_bar, url: tasklists_path, method: :get do |f| %>
      <div class='input-group input-group-sm'>
        <%= f.input_field :search_term, label: false, placeholder: "Search tasklists...", name: 'search_term', class: 'form-control' %>
        <span class="input-group-btn">
          <%= f.button :submit, "Search", name: nil %>
        </span>
      </div>
      <% end %>
    </div>
    <div class='col-6'>
      <p class='flash-notice'><%= flash[:notice] %></p>
      <p class='flash-alert'><%= flash[:alert] %></p>
    </div>
    <div class='col-2'>
      <%= link_to 'Edit account', edit_user_registration_path if user_signed_in? && !current_page?(edit_user_registration_path) %>
    </div>
    <div class='col-1'>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete if user_signed_in? %>
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      <nav aria-label="Search results pages">
        <ul class="pagination pagination-sm justify-content-center">
          <li class="page-item pagination-previous"><%= paginatable('<<', @page - 1) %></li>
          <% (1..@total_pages).each do |page| %>
          <li class="page-item pagination-number"><%= paginatable(page, page) %></li>
          <% end %>
          <li class="page-item pagination-next"><%= paginatable('>>', @page + 1) %></li>
        </ul>
      </nav>
    </div>
  </div>

  <%= javascript_tag do %>
  var page = <%= @page %>;
  var total_pages = <%= @total_pages %>;
  $('.pagination-previous').toggleClass('disabled', page <= 1);
  $('.pagination-next').toggleClass('disabled', page >= total_pages);
  $('pagination-number').removeClass('active');
  // $(`.pagination-number:contains(${page.toString()})`).addClass('active');
  $(".pagination-number").filter(function() {
    return $(this).text() === page.toString();
  }).addClass('active');
  <% end %>

  <%= render partial: 'tasklists/tasklist_row', locals: {tasklists: @tasklists[0..tasklist_per_row-1]} %>
  <br />
  <%= render partial: 'tasklists/tasklist_row', locals: {tasklists: @tasklists[tasklist_per_row..-1]} %>

</div>
