<div class="container tasklist">
  <div class="row justify-content-center">
    <h1 class='display-3 text-center'>My Task Lists</h1>
    <div class="col-8">
      <div class="row justify-content-center">
        <p>
          <button type="button" class="btn btn-outline-primary btn-lg">
            <a id="axn-new"><%= link_to 'Create New Task List', new_tasklist_path %></a>
          </button>&nbsp;&nbsp;&nbsp;
        </p>
        <p class='flash-notice text-center'><%= flash[:notice] %></p>
        <p class='flash-alert text-center'><%= flash[:alert] %></p>
      </div>
      <%= simple_form_for :search_bar, url: tasklists_path, method: :get do |f| %>
      <%= f.input :search_term, label: false, placeholder: "Search Task List Names", input_html: {value: search_term, name: 'search_term'} %>
      <div class="row justify-content-center">
        <%= f.button :submit, "Search", name: nil %>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-outline-primary"><a id="axn-full"><%= link_to 'Full Task List', tasklists_path %></a>
        </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row justify-content-center">
      <nav aria-label="Search results pages">
        <ul class="pagination">
          <li class="page-item pagination-previous"><%= paginatable('<<', @page - 1) %></li>
          <% (1..@total_pages).each do |page| %>
          <li class="page-item pagination-number"><%= paginatable(page, page) %></li>
          <% end %>
          <li class="page-item pagination-next"><%= paginatable('>>', @page + 1) %></li>
        </ul>
      </nav>
      <%= javascript_tag do %>
        var page = <%= @page %>;
        var total_pages = <%= @total_pages %>;
        $('.pagination-previous').toggleClass('disabled', page <= 1);
        $('.pagination-next').toggleClass('disabled', page >= total_pages);
        $('pagination-number').removeClass('active');
        // $(`.pagination-number:contains(${page.toString()})`).addClass('active');
        $(".pagination-number").filter(function() {
          return $(this).text() === page.toString();
        }).addClass('active');
      <% end %>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <table class='table table-responsive table-hover table-bordered'>
        <thead>
          <tr>
            <th>#</th>
            <th><%= sortable 'name' %></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% start_count = (@page - 1) * TasklistsController::TASKLIST_PER_PAGE + 1 %>
          <% @tasklists.each.with_index(start_count) do |tasklist, index| %>
          <tr>
            <th scope="row"><%= index %></th>
            <td><%= tasklist.name %></td>
            <td><a id="axn-show"><%= link_to 'Show Tasks', tasklist_path(tasklist) %></a></td>
            <td><a id="axn-edit" href= <%= edit_tasklist_path(tasklist) %> >
              <i class="fa-pencil-square-o"></i></a></td>
            <td><a id="axn-delete"><%= link_to 'Delete', tasklist_path(tasklist), method: :delete, data: { confirm: "Are you sure you want to delete Task list: #{tasklist.name}?" } %></a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
