<h1 class='section-title text-center'>My Task Lists</h1>

<%= link_to 'New Task List', new_tasklist_path %>
<p class='flash-notice text-center'><%= flash[:notice] %></p>
<p class='flash-alert text-center'><%= flash[:alert] %></p>

<br />

<%= simple_form_for :search_bar, url: tasklists_path, method: :get do |f| %>
<%= f.input :search_term, label: false, placeholder: "Search tasklists", input_html: {value: search_term, name: 'search_term'} %>
<%= f.button :submit, "Search", name: nil %>
<%= link_to 'Full list', tasklists_path %>
<% end %>

<br />

<%= paginatable('Previous', @page - 1) if @page > 1 %>
<% (1..@total_pages).each do |page| %>
<%= paginatable(page, page) %>
<% end %>
<%= paginatable('Next', @page + 1) if @page < @total_pages %>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>#</th>
      <th><%= sortable 'name' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% start_count = (@page - 1) * TasklistsController::TASKLIST_PER_PAGE + 1 %>
    <% @tasklists.each.with_index(start_count) do |tasklist, index| %>
    <tr>
      <th scope="row"><%= index %></th>
      <td><%= tasklist.name %></td>
      <td><%= link_to 'Show Tasks', tasklist_path(tasklist) %></td>
      <td><%= link_to 'Edit', edit_tasklist_path(tasklist) %></td>
      <td><%= link_to 'Delete', tasklist_path(tasklist), method: :delete, data: { confirm: "Are you sure you want to delete task list: #{tasklist.name}?" } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
