<div class='container-fluid login d-flex flex-column align-items-center justify-content-center'>

  <div class='form-background'>
    <div class='row'>
      <div class='col-2 text-center'>
        <%= link_to image_tag('icons/back', size: '30'), root_path %>
      </div>
    </div>

    <div class='row'>
      <div class='col-12 text-center'>
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
        <p class='flash-notice text-center'><%= flash[:notice] %></p>
        <p class='flash-alert text-center'><%= flash[:alert] %></p>
      </div>
    </div>

    <div class='row justify-content-center'>
      <div class='col-8'>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password, autocomplete: "off", hint: "Leave it blank if you don't want to change it", required: false %>
          <%= f.input :password_confirmation, required: false %>
          <%= f.input :current_password, hint: "Enter your current password to confirm your changes", required: true %>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Update" %>
        </div>
        <% end %>
      </div>
    </div>

    <div class='row'>
      <div class='col-12 text-center'>
        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
      </div>
    </div>

  </div>
</div>
