<div class="container">
  <div class="row justify-content-center">
    <h1 class="display-3 text-center"><%= @tasklist.name %></h1>
    <div class="col-8">
      <h3>Add New Task</h3>
      <%= simple_form_for @tasklist.tasks.build, url: tasklist_tasks_path(@tasklist), method: :post do |f| %>
      <%= f.input :name, label: false, as: :text %>
      <div class="row justify-content-center">
        <%= f.input :due_date %>
      </div>
      <br>
      <div class="row justify-content-center">
        <%= f.button :submit, "Create New Task" %>
        <% end %>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-outline-primary">
          <a id="axn-all-tasks"><%= link_to 'Show All Tasks', tasklist_path(@tasklist) %></a>
        </button>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-outline-primary">
          <a id="axn-full"><%= link_to 'Full Task List', tasklists_path %></a>
        </button>
      </div>
    </div>
  </div>
</div>
